doctype html
html
  head
    title freeCodeCamp URL Shortener
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    .container
      h1 FCC API Basejump: URL Shortener Microservice
      p This application fulfills the #[a(href="http://www.freecodecamp.com/challenges/url-shortener-microservice") third API Basejump] as part of Free Code Camp's JavaScript curriculum.
