doctype html
html
  head
    title freeCodeCamp URL Shortener
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    .container
      h1 FCC API Basejump: URL Shortener Microservice
      p This application fulfills the #[a(href="http://www.freecodecamp.com/challenges/url-shortener-microservice") third API Basejump] as part of Free Code Camp's JavaScript curriculum.
      h3 Instructions
      p Send a GET request containing a url to ./api/new/#{'<url>'} to received a JSON object containing the original url and a shortend url. Visiting the shortened url will redirect you to to the original url.
      h3 Example
      p The following request
      p
        code ./api/new/https://www.google.com
      p will return
      p
        code { "original_url": "https://www.google.com", "shortened_url": "./VkE_-BZcg" }
          
